*.topicdescr { font-size: 12pt;}
*.topicdetails { font-size: 10pt; font-style: italic;}
*.details { font-size: 10pt; font-style: italic;}
*.user { font-size: 10pt; font-style: italic; font-weight: bold; }
*.copy { font-size: 10pt; text-align: center; } 
*.msgtitle { font-size: 11pt; font-weight: bold; color: blue;} 
*.msgtext { font-size: 10pt;}
*.msgdetails { font-size: 8pt; font-style: italic; }
*.pagefooter { font-size: 12pt; font-style: italic; font-weight: bold; background: lightgray; padding: 10pt; } 
*.tableheader { font-family: Verdana, Arial, sans-serif; font-size: 20pt; font-weight: bold; background: #051763; padding: 8pt; height: 25pt; }
*.bborder { border-bottom: medium solid; }
*.closed {  font-size: 12pt; font-style: italic; font-weight: bold; background: red; padding: 10pt; } 
*.sticky {  font-size: 12pt; font-style: italic; font-weight: bold; background: orange; padding: 10pt; } 
*.moderated {  font-size: 12pt; font-style: italic; font-weight: bold; background: lightgray; padding: 10pt; } 
*.normal {  font-size: 12pt; font-style: italic; font-weight: bold; background: white; padding: 10pt; } 
*.pageheader {  font-size: 12pt; font-style: italic; font-weight: bold; background: lightblue; padding: 10pt; } 
*.attention {  font-size: 10pt; font-style: italic; font-weight: normal; background: gold; padding: 0pt; } 
*.link { font-style: normal; text-decoration: underline; color: blue; }
*.guests { font-style: normal; font-weight: bold; color: blue; font-size: 10pt; }
*.list { font-family: Verdana, Arial, sans-serif; font-size: 10pt; font-style: normal; font-weight: normal; color: black; }
*.newcomment { font-family: Verdana, Arial, sans-serif; font-size: 10pt; font-style: italic; font-weight: normal; color: black; background: gold; text-decoration: underline; } 
*.command { font-family: Verdana, Arial, sans-serif; font-size: 10pt; font-style: italic; font-weight: normal; color: black; background: gold; text-decoration: underline; } 
*.currentcommand { font-family: Verdana, Arial, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; color: blue; background: orange; text-decoration: underline; } 
*.title  { font-family: Verdana, Arial, sans-serif; font-size: 13pt; font-style: normal; font-weight: bold; color: black; background: gold; text-decoration: none; } 
.navbar { font-family: Verdana, Arial, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; color: blue; background: white; text-decoration: none; } 
*.warning { font-family: Verdana, Arial, sans-serif; font-size: 11pt; font-style: normal; font-weight: bold; color: red; background: black; text-decoration: none; } 
*.doctitle {  font-size: 11pt; font-style: normal; font-weight: bold; color: black;} 
*.doctext { font-family: Verdana, Arial, sans-serif; font-size: 10pt; font-style: normal; font-weight: normal; color: black; }
*.commento { font-family: Verdana, Arial, sans-serif; font-size: 10pt; font-style: italic; font-weight: normal; color: black; }
*.docdetails { font-family: Verdana, Arial, sans-serif; font-size: 8pt; font-style: italic; font-weight: normal; }
*.tablebox { border: solid; font-family: Verdana, Arial, sans-serif; font-size: 20pt; font-style: normal; font-weight: bold; background: orange; padding: 8pt; } 
*.topictitle {  font-size: 10pt; font-style: normal; font-weight: bold; color: black; } 
*.sidebar { vertical-align: top; font-family: Verdana, Arial,  sans-serif; font-size: 10pt; font-style: normal; font-weight: normal; background: lightblue; padding: 0pt; margin: 0pt; border: none; }

/*Commenti*/
*.quoted { font-size: 10pt; font-style: italic; font-weight: normal; 
color: blue; padding: 4pt; margin: 0pt; border: 2px, solid; padding-left:5px; }
*.childmsg { font-size: 10pt; font-style: normal; font-weight: normal; color: black; background: white;
padding: 4pt; margin: 2pt; border: solid; }


/*Stili generali*/
body { font-family: Verdana, Arial, sans-serif; font-size: 10pt; font-style: normal; font-weight: normal; color: black; }
h1 { font-family: Verdana, Arial,  sans-serif; font-size: 20pt; font-style: normal; font-weight: bolder; color: white; background: #051763; height:22pt; padding-left:10pt;}
h2 { font-size: 18pt; font-style: normal; font-weight: bold;}
h3 {  font-size: 14pt; font-style: normal; font-weight: bolder; color: black; }
h4 {  font-size: 12pt; font-style: normal; font-weight: bolder; color: black; }
ol,ul {  font-size: 10pt; font-style: normal; font-weight: normal; color: black; }
.clearer { clear: both; height: 0;}
quote { font-family: Times, serif; font-size: 13pt; line-height: 100%; font-weight: normal; font-style: italic; padding-left: 20px; padding-right: 20px; }
img {border: 0; display: block;}
/*Titolo della pagina*/
div#page_title { height: 50px; background-color: orange; padding: 1px; padding-bottom: 12px;}
/*Barra di navigazione*/
div#navigation_bar { margin-top: 5px; margin-bottom: 15px; border-top: thin solid black; border-bottom: thin solid black;}
div#navigation_bar ul { list-style: none; margin: 8px 0; padding:0;}
div#navigation_bar ul li { display: inline; font-weight:bold; margin: 0 5px;}
/*Container (contiene la Sidebar e la SdSM)*/
div.container { background: lightblue; overflow: hidden; margin-bottom: 5px;}
/*Sidebar*/
div.sidebar { background-color: lightblue; float: left; width:19%; font-size: 10pt;  padding: 3pt; margin: 0pt; border: none; }
/*SdSM*/
div.SdSM { float: right; width: 79%; background: white; padding-left: 5px; border-left: thin solid black ;}
/*Disclaimer*/
div#disclaimer { margin-top: 15px; border-top: thin solid black; border-bottom: thin solid black;}
div#copy { float: left; width:18%; font-size: 10pt;  padding: 3pt; margin: 0pt; border: none; font-weight: bold;} 
div#copyright { float: right; width: 79%; background: white; padding-left: 5px; border-left: thick solid white; padding: 10px;}
/*Footer*/
div#footer{ text-align: center; padding: 5px;}
th { font-family: Verdana, Arial, sans-serif; font-size: 10pt; font-weight: bold; background: yellow; padding: 1pt; text-align: left; }
td { font-family: Verdana, Arial, sans-serif; font-size: 10pt; font-weight: normal; background: transparent; padding: 1pt; text-align: left; }
